In [1]:
import sqlite3 as sql
connection = sql.connect("example.db")
connection

In [3]:
cursor = connection.cursor()

cursor.execute('''

    Create table if not exists employee(
               id Integer Primary Key,
               name text Not Null,
               age Integer,
               department text
               )
''')

connection.commit()

In [6]:
cursor.execute("Select * from employee")

In [8]:
cursor.execute('''

    Insert into employee (id ,name, age, department)
    values (1, 'Shashank', 21, 'AI Enginner')
''')


cursor.execute('''

    Insert into employee (id ,name, age, department)
    values (2, 'Shashu', 25, 'Full Stack Developer')
''')

cursor.execute('''

    Insert into employee (id ,name, age, department)
    values (3, 'Shreyas', 24, 'AI Enginner')
''')

connection.commit()

In [9]:
cursor.execute("Select * from employee")

In [10]:
rows = cursor.fetchall()
print(rows)

[(1, 'Shashank', 21, 'AI Enginner'), (2, 'Shashu', 25, 'Full Stack Developer'), (3, 'Shreyas', 24, 'AI Enginner')]

In [11]:
for data in rows:
    print(data)

(1, 'Shashank', 21, 'AI Enginner')
(2, 'Shashu', 25, 'Full Stack Developer')
(3, 'Shreyas', 24, 'AI Enginner')