In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('Travel.csv')

In [4]:
df.head()

   CustomerID  ProdTaken  ...  Designation MonthlyIncome
0      200000          1  ...      Manager       20993.0
1      200001          0  ...      Manager       20130.0
2      200002          1  ...    Executive       17090.0
3      200003          0  ...    Executive       17909.0
4      200004          0  ...    Executive       18468.0

[5 rows x 20 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [6]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [7]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [8]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')

In [9]:
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [10]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [11]:
df['MaritalStatus'] = df['MaritalStatus'].replace('Single', 'Unmarried')

In [12]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [13]:
df['Age'].fillna(df.Age.median(), inplace=True)

In [14]:
df['Age'].isnull().sum()

np.int64(0)

In [15]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [16]:
df['TypeofContact'].fillna(df['TypeofContact'].mode()[0] , inplace=True)

In [17]:
df['TypeofContact'].isnull().sum()

np.int64(0)

In [18]:
df['DurationOfPitch'].isnull().sum()

np.int64(251)

In [19]:
df['DurationOfPitch'].fillna(df['DurationOfPitch'].median(), inplace=True)

In [20]:
df['NumberOfFollowups'].fillna(df['NumberOfFollowups'].mode()[0] , inplace=True)

In [21]:
df['NumberOfFollowups'].isnull().sum()

np.int64(0)

In [22]:
df['PreferredPropertyStar'].dtype

dtype('float64')

In [23]:
df['PreferredPropertyStar'].value_counts()

PreferredPropertyStar
3.0    2993
5.0     956
4.0     913
Name: count, dtype: int64

In [24]:
df['PreferredPropertyStar'].fillna(df['PreferredPropertyStar'].mode()[0], inplace=True)

In [25]:
df['NumberOfTrips'].dtype

dtype('float64')

In [26]:
df['NumberOfTrips'].value_counts()

NumberOfTrips
2.0     1464
3.0     1079
1.0      620
4.0      478
5.0      458
6.0      322
7.0      218
8.0      105
19.0       1
21.0       1
20.0       1
22.0       1
Name: count, dtype: int64

In [27]:
df['NumberOfTrips'].fillna(df['NumberOfTrips'].median(),inplace=True)

In [28]:
df['NumberOfChildrenVisiting'].dtype

dtype('float64')

In [29]:
df['NumberOfChildrenVisiting'].value_counts()

NumberOfChildrenVisiting
1.0    2080
2.0    1335
0.0    1082
3.0     325
Name: count, dtype: int64

In [30]:
df['NumberOfChildrenVisiting'].fillna(df['NumberOfChildrenVisiting'].mode()[0] , inplace=True)

In [31]:
df['MonthlyIncome'].fillna(df['MonthlyIncome'].median(), inplace=True)

In [32]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [33]:
df.drop('CustomerID' , inplace=True, axis=1)

In [34]:
df.head()

   ProdTaken   Age  ... Designation  MonthlyIncome
0          1  41.0  ...     Manager        20993.0
1          0  49.0  ...     Manager        20130.0
2          1  37.0  ...   Executive        17090.0
3          0  33.0  ...   Executive        17909.0
4          0  36.0  ...   Executive        18468.0

[5 rows x 19 columns]

In [35]:
df['TotalVisiting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfPersonVisiting', 'NumberOfChildrenVisiting'], inplace=True , axis=1)

In [36]:
df.head()

   ProdTaken   Age    TypeofContact  ...  Designation  MonthlyIncome TotalVisiting
0          1  41.0     Self Enquiry  ...      Manager        20993.0           3.0
1          0  49.0  Company Invited  ...      Manager        20130.0           5.0
2          1  37.0     Self Enquiry  ...    Executive        17090.0           3.0
3          0  33.0  Company Invited  ...    Executive        17909.0           3.0
4          0  36.0     Self Enquiry  ...    Executive        18468.0           2.0

[5 rows x 18 columns]

In [37]:
num_feature = [features for features in df.columns if df[features].dtype != 'O']
print("Number of Numerical Features:", len(num_feature))

Number of Numerical Features: 12

In [38]:
Cat_feature = [feature for feature in df.columns if df[feature].dtype == 'O']
print("The number of Categorical features are: ", len(Cat_feature))

The number of Categorical features are:  6

In [39]:
from sklearn.model_selection import train_test_split

X = df.drop('ProdTaken' , axis=1)
y = df['ProdTaken']

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [41]:
X_train.shape,y_train.shape

((3910, 17), (3910,))

In [42]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

cat_features = X.select_dtypes(include='object').columns
num_features = X.select_dtypes(exclude='object').columns

Scaler = StandardScaler()
oh_encoder = OneHotEncoder(drop='first')

ct = ColumnTransformer([
('Standard', Scaler , num_features),
('OneHot', oh_encoder, cat_features)
])

In [43]:
X_train = ct.fit_transform(X_train)
X_test = ct.transform(X_test)

In [44]:
X_train

array([[-0.15792615, -0.7214003 , -1.02034967, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.50807196, -0.7214003 ,  0.69002334, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.39606944, -0.7214003 , -1.02034967, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.06407322,  1.45504659,  1.54520984, ...,  0.        ,
         0.        ,  0.        ],
       [-1.04592363,  1.45504659,  1.78954884, ...,  1.        ,
         0.        ,  0.        ],
       [-1.71192174, -0.7214003 , -0.77601067, ...,  0.        ,
         0.        ,  0.        ]], shape=(3910, 26))

In [53]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-3.0.5-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\shash\documents\pythonbasics\venv\lib\site-packages (from xgboost) (2.3.2)
Requirement already satisfied: scipy in c:\users\shash\documents\pythonbasics\venv\lib\site-packages (from xgboost) (1.16.1)
Downloading xgboost-3.0.5-py3-none-win_amd64.whl (56.8 MB)
   ---------------------------------------- 0.0/56.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/56.8 MB ? eta -:--:--
   ---------------------------------------- 0.5/56.8 MB 1.5 MB/s eta 0:00:37
    --------------------------------------- 0.8/56.8 MB 1.5 MB/s eta 0:00:39
    --------------------------------------- 1.0/56.8 MB 1.7 MB/s eta 0:00:34
    --------------------------------------- 1.3/56.8 MB 1.7 MB/s eta 0:00:33
   - -------------------------------------- 1.6/56.8 MB 1.4 MB/s eta 0:00:40
   - -------------------------------------- 2.1/56.8 MB 1.5 MB/s eta 0:00:37
   - -------------------------------------- 2.6/56.8 MB 1.7 MB/s eta 0:00:33
   -- ------------------------------------- 3.1/56.8 MB 1.8 MB/s eta 0:00:31
   -- ------------------------------------- 3.9/56.8 MB 2.0 MB/s eta 0:00:27
   --- ------------------------------------ 4.5/56.8 MB 2.1 MB/s eta 0:00:25
   --- ------------------------------------ 4.7/56.8 MB 2.0 MB/s eta 0:00:27
   --- ------------------------------------ 5.5/56.8 MB 2.1 MB/s eta 0:00:25
   ---- ----------------------------------- 6.6/56.8 MB 2.3 MB/s eta 0:00:22
   ----- ---------------------------------- 7.6/56.8 MB 2.5 MB/s eta 0:00:20
   ------ --------------------------------- 8.9/56.8 MB 2.7 MB/s eta 0:00:18
   ------- -------------------------------- 10.2/56.8 MB 3.0 MB/s eta 0:00:16
   ------- -------------------------------- 10.7/56.8 MB 3.0 MB/s eta 0:00:16
   -------- ------------------------------- 12.1/56.8 MB 3.1 MB/s eta 0:00:15
   -------- ------------------------------- 12.6/56.8 MB 3.2 MB/s eta 0:00:14
   --------- ------------------------------ 13.4/56.8 MB 3.1 MB/s eta 0:00:14
   ---------- ----------------------------- 14.7/56.8 MB 3.2 MB/s eta 0:00:14
   ----------- ---------------------------- 15.7/56.8 MB 3.3 MB/s eta 0:00:13
   ----------- ---------------------------- 16.8/56.8 MB 3.4 MB/s eta 0:00:12
   ------------ --------------------------- 17.6/56.8 MB 3.4 MB/s eta 0:00:12
   ------------ --------------------------- 18.4/56.8 MB 3.4 MB/s eta 0:00:12
   ------------- -------------------------- 19.7/56.8 MB 3.5 MB/s eta 0:00:11
   -------------- ------------------------- 21.0/56.8 MB 3.6 MB/s eta 0:00:10
   --------------- ------------------------ 22.5/56.8 MB 3.7 MB/s eta 0:00:10
   ---------------- ----------------------- 24.1/56.8 MB 3.9 MB/s eta 0:00:09
   ----------------- ---------------------- 25.4/56.8 MB 3.9 MB/s eta 0:00:08
   ------------------- -------------------- 27.0/56.8 MB 4.0 MB/s eta 0:00:08
   ------------------- -------------------- 28.3/56.8 MB 4.1 MB/s eta 0:00:07
   -------------------- ------------------- 29.6/56.8 MB 4.2 MB/s eta 0:00:07
   --------------------- ------------------ 30.9/56.8 MB 4.2 MB/s eta 0:00:07
   ---------------------- ----------------- 32.5/56.8 MB 4.3 MB/s eta 0:00:06
   ----------------------- ---------------- 33.8/56.8 MB 4.4 MB/s eta 0:00:06
   ------------------------ --------------- 35.4/56.8 MB 4.4 MB/s eta 0:00:05
   ------------------------- -------------- 36.7/56.8 MB 4.5 MB/s eta 0:00:05
   -------------------------- ------------- 38.0/56.8 MB 4.5 MB/s eta 0:00:05
   --------------------------- ------------ 39.6/56.8 MB 4.6 MB/s eta 0:00:04
   ---------------------------- ----------- 40.9/56.8 MB 4.7 MB/s eta 0:00:04
   ----------------------------- ---------- 42.2/56.8 MB 4.7 MB/s eta 0:00:04
   ------------------------------ --------- 43.5/56.8 MB 4.7 MB/s eta 0:00:03
   ------------------------------- -------- 44.6/56.8 MB 4.7 MB/s eta 0:00:03
   -------------------------------- ------- 46.1/56.8 MB 4.8 MB/s eta 0:00:03
   --------------------------------- ------ 47.4/56.8 MB 4.8 MB/s eta 0:00:02
   ---------------------------------- ----- 48.8/56.8 MB 4.9 MB/s eta 0:00:02
   ----------------------------------- ---- 50.3/56.8 MB 4.9 MB/s eta 0:00:02
   ------------------------------------ --- 51.6/56.8 MB 4.9 MB/s eta 0:00:02
   ------------------------------------- -- 53.0/56.8 MB 5.0 MB/s eta 0:00:01
   -------------------------------------- - 54.5/56.8 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------  55.8/56.8 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------  56.6/56.8 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 56.8/56.8 MB 5.0 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-3.0.5

In [54]:
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,precision_score,recall_score,f1_score,roc_auc_score

models = {
    "Decision Tree" : DecisionTreeClassifier(),
    "Random Forset" : RandomForestClassifier(),
    "Adaboost": AdaBoostClassifier(),
    "Xgboost":XGBClassifier(),
}

for i in range(len(list(models))):
    model = list(models.values())[i]

    model.fit(X_train,y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)


    model_train_acc = accuracy_score(y_train,y_train_pred)
    model_train_f1Score = f1_score(y_train,y_train_pred , average="weighted")
    model_train_precision = precision_score(y_train,y_train_pred)
    model_train_recall = recall_score(y_train,y_train_pred)
    model_train_aucScore = roc_auc_score(y_train,y_train_pred)

    model_test_acc = accuracy_score(y_test,y_test_pred)
    model_test_f1Score = f1_score(y_test,y_test_pred, average="weighted")
    model_test_precision = precision_score(y_test,y_test_pred)
    model_test_recall = recall_score(y_test,y_test_pred)
    model_test_aucScore = roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])

    print(f"Train Accuracy Score : {model_train_acc}")
    print(f"Train F1 Score : {model_train_f1Score}")
    print(f"Train Precision Score : {model_train_precision}")
    print(f"Train Recall Score : {model_train_recall}")
    print(f"Train AUC Score : {model_train_aucScore}")
    

    print(f"Test Accuracy Score : {model_test_acc}")
    print(f"Test F1 Score : {model_test_f1Score}")
    print(f"Test Precision Score : {model_test_precision}")
    print(f"Test Recall Score : {model_test_recall}")
    print(f"Test AUC Score : {model_test_aucScore}")

    print("---------------Complete --------------------")

Decision Tree
Train Accuracy Score : 1.0
Train F1 Score : 1.0
Train Precision Score : 1.0
Train Recall Score : 1.0
Train AUC Score : 1.0
Test Accuracy Score : 0.911042944785276
Test F1 Score : 0.9094465998098705
Test Precision Score : 0.7988505747126436
Test Recall Score : 0.7277486910994765
Test AUC Score : 0.841638005016066
---------------Complete --------------------
Random Forset
Train Accuracy Score : 1.0
Train F1 Score : 1.0
Train Precision Score : 1.0
Train Recall Score : 1.0
Train AUC Score : 1.0
Test Accuracy Score : 0.9243353783231084
Test F1 Score : 0.9184391109294453
Test Precision Score : 0.9534883720930233
Test Recall Score : 0.643979057591623
Test AUC Score : 0.8181775847043248
---------------Complete --------------------
Adaboost
Train Accuracy Score : 0.8478260869565217
Train F1 Score : 0.8146439190446891
Train Precision Score : 0.7815126050420168
Train Recall Score : 0.2551440329218107
Train AUC Score : 0.6193984861245332
Test Accuracy Score : 0.8353783231083844
Test F1 Score : 0.7987434557925993
Test Precision Score : 0.75
Test Recall Score : 0.2356020942408377
Test AUC Score : 0.6082711868917022
---------------Complete --------------------
Xgboost
Train Accuracy Score : 0.99923273657289
Train F1 Score : 0.9992321263958706
Train Precision Score : 1.0
Train Recall Score : 0.9958847736625515
Train AUC Score : 0.9979423868312758
Test Accuracy Score : 0.9355828220858896
Test F1 Score : 0.9318158297553418
Test Precision Score : 0.9507042253521126
Test Recall Score : 0.7068062827225131
Test AUC Score : 0.8489558732545222
---------------Complete --------------------

In [51]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [56]:
from tabulate import tabulate

results = []

for name, model in models.items():
    model.fit(X_train, y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    results.append([
         name,
        round(accuracy_score(y_train, y_train_pred), 2),
        round(f1_score(y_train, y_train_pred, average="weighted"), 2),
        round(precision_score(y_train, y_train_pred), 2),
        round(recall_score(y_train, y_train_pred), 2),
        round(roc_auc_score(y_train, y_train_pred), 2),
        round(accuracy_score(y_test, y_test_pred), 2),
        round(f1_score(y_test, y_test_pred, average="weighted"), 2),
        round(precision_score(y_test, y_test_pred), 2),
        round(recall_score(y_test, y_test_pred), 2),
        round(roc_auc_score(y_test, y_test_pred), 2)
    ])

headers = [
    "Model",
    "Train Acc", "Train F1", "Train Prec", "Train Recall", "Train AUC",
    "Test Acc", "Test F1", "Test Prec", "Test Recall", "Test AUC"
]

print(tabulate(results, headers=headers, tablefmt="pretty"))

+---------------+-----------+----------+------------+--------------+-----------+----------+---------+-----------+-------------+----------+
|     Model     | Train Acc | Train F1 | Train Prec | Train Recall | Train AUC | Test Acc | Test F1 | Test Prec | Test Recall | Test AUC |
+---------------+-----------+----------+------------+--------------+-----------+----------+---------+-----------+-------------+----------+
| Decision Tree |    1.0    |   1.0    |    1.0     |     1.0      |    1.0    |   0.92   |  0.92   |   0.82    |    0.79     |   0.87   |
| Random Forset |    1.0    |   1.0    |    1.0     |     1.0      |    1.0    |   0.92   |  0.92   |   0.97    |    0.63     |   0.81   |
|   Adaboost    |   0.85    |   0.81   |    0.78    |     0.26     |   0.62    |   0.84   |   0.8   |   0.75    |    0.24     |   0.61   |
|    Xgboost    |    1.0    |   1.0    |    1.0     |     1.0      |    1.0    |   0.94   |  0.93   |   0.95    |    0.71     |   0.85   |
+---------------+-----------+----------+------------+--------------+-----------+----------+---------+-----------+-------------+----------+