In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [18]:
df = pd.read_csv('Travel.csv')

In [3]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [5]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [6]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [7]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')

In [8]:
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [9]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [12]:
df['MaritalStatus'] = df['MaritalStatus'].replace('Single', 'Unmarried')

In [13]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [21]:
df['Age'].fillna(df.Age.median(), inplace=True)

In [22]:
df['Age'].isnull().sum()

np.int64(0)

In [23]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [24]:
df['TypeofContact'].fillna(df['TypeofContact'].mode()[0] , inplace=True)

In [29]:
df['TypeofContact'].isnull().sum()

np.int64(0)

In [31]:
df['DurationOfPitch'].isnull().sum()

np.int64(251)

In [32]:
df['DurationOfPitch'].fillna(df['DurationOfPitch'].median(), inplace=True)

In [38]:
df['NumberOfFollowups'].fillna(df['NumberOfFollowups'].mode()[0] , inplace=True)

In [39]:
df['NumberOfFollowups'].isnull().sum()

np.int64(0)

In [40]:
df['PreferredPropertyStar'].dtype

dtype('float64')

In [41]:
df['PreferredPropertyStar'].value_counts()

PreferredPropertyStar
3.0    2993
5.0     956
4.0     913
Name: count, dtype: int64

In [42]:
df['PreferredPropertyStar'].fillna(df['PreferredPropertyStar'].mode()[0], inplace=True)

In [43]:
df['NumberOfTrips'].dtype

dtype('float64')

In [44]:
df['NumberOfTrips'].value_counts()

NumberOfTrips
2.0     1464
3.0     1079
1.0      620
4.0      478
5.0      458
6.0      322
7.0      218
8.0      105
19.0       1
21.0       1
20.0       1
22.0       1
Name: count, dtype: int64

In [52]:
df['NumberOfTrips'].fillna(df['NumberOfTrips'].median(),inplace=True)

In [47]:
df['NumberOfChildrenVisiting'].dtype

dtype('float64')

In [48]:
df['NumberOfChildrenVisiting'].value_counts()

NumberOfChildrenVisiting
1.0    2080
2.0    1335
0.0    1082
3.0     325
Name: count, dtype: int64

In [49]:
df['NumberOfChildrenVisiting'].fillna(df['NumberOfChildrenVisiting'].mode()[0] , inplace=True)

In [50]:
df['MonthlyIncome'].fillna(df['MonthlyIncome'].median(), inplace=True)

In [51]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [53]:
df.drop('CustomerID' , inplace=True, axis=1)

In [54]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [55]:
df['TotalVisiting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfPersonVisiting', 'NumberOfChildrenVisiting'], inplace=True , axis=1)

In [56]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Single,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Single,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [ ]:
num_feature = [features for features in df.columns if df[features].dtype != 'O']
print("Number of Numerical Features:", len(num_feature))

Number of Numerical Features: 12

In [59]:
Cat_feature = [feature for feature in df.columns if df[feature].dtype == 'O']
print("The number of Categorical features are: ", len(Cat_feature))

The number of Categorical features are:  6

In [62]:
from sklearn.model_selection import train_test_split

X = df.drop('ProdTaken' , axis=1)
y = df['ProdTaken']

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [69]:
X_train.shape,y_train.shape

((3910, 17), (3910,))

In [71]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

cat_features = X.select_dtypes(include='object').columns
num_features = X.select_dtypes(exclude='object').columns

Scaler = StandardScaler()
oh_encoder = OneHotEncoder(drop='first')

ct = ColumnTransformer([
('Standard', Scaler , num_features),
('OneHot', oh_encoder, cat_features)
])

In [72]:
X_train = ct.fit_transform(X_train)
X_test = ct.transform(X_test)

In [73]:
X_train

array([[-0.15792615, -0.7214003 , -1.02034967, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.50807196, -0.7214003 ,  0.69002334, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.39606944, -0.7214003 , -1.02034967, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.06407322,  1.45504659,  1.54520984, ...,  0.        ,
         0.        ,  0.        ],
       [-1.04592363,  1.45504659,  1.78954884, ...,  1.        ,
         0.        ,  0.        ],
       [-1.71192174, -0.7214003 , -0.77601067, ...,  0.        ,
         0.        ,  0.        ]], shape=(3910, 28))

In [80]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,precision_score,recall_score,f1_score,roc_auc_score

models = {
    "Decision Tree" : DecisionTreeClassifier(),
    "Random Forset" : RandomForestClassifier()
}

for i in range(len(list(models))):
    model = list(models.values())[i]

    model.fit(X_train,y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)


    model_train_acc = accuracy_score(y_train,y_train_pred)
    model_train_f1Score = f1_score(y_train,y_train_pred , average="weighted")
    model_train_precision = precision_score(y_train,y_train_pred)
    model_train_recall = recall_score(y_train,y_train_pred)
    model_train_aucScore = roc_auc_score(y_train,y_train_pred)

    model_test_acc = accuracy_score(y_test,y_test_pred)
    model_test_f1Score = f1_score(y_test,y_test_pred, average="weighted")
    model_test_precision = precision_score(y_test,y_test_pred)
    model_test_recall = recall_score(y_test,y_test_pred)
    model_test_aucScore = roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])

    print(f"Train Accuracy Score : {model_train_acc}")
    print(f"Train F1 Score : {model_train_f1Score}")
    print(f"Train Precision Score : {model_train_precision}")
    print(f"Train Recall Score : {model_train_recall}")
    print(f"Train AUC Score : {model_train_aucScore}")

    print("------------------------------------------------")
    

    print(f"Test Accuracy Score : {model_test_acc}")
    print(f"Test F1 Score : {model_test_f1Score}")
    print(f"Test Precision Score : {model_test_precision}")
    print(f"Test Recall Score : {model_test_recall}")
    print(f"Test AUC Score : {model_test_aucScore}")

    print("---------------Complete --------------------")

Decision Tree
Train Accuracy Score : 1.0
Train F1 Score : 1.0
Train Precision Score : 1.0
Train Recall Score : 1.0
Train AUC Score : 1.0
------------------------------------------------
Test Accuracy Score : 0.9069529652351738
Test F1 Score : 0.9062905127220093
Test Precision Score : 0.7717391304347826
Test Recall Score : 0.743455497382199
Test AUC Score : 0.845044140050693
---------------Complete --------------------
Random Forset
Train Accuracy Score : 1.0
Train F1 Score : 1.0
Train Precision Score : 1.0
Train Recall Score : 1.0
Train AUC Score : 1.0
------------------------------------------------
Test Accuracy Score : 0.9222903885480572
Test F1 Score : 0.915738813325075
Test Precision Score : 0.96
Test Recall Score : 0.6282722513089005
Test AUC Score : 0.8109595055782115
---------------Complete --------------------